/* Стилі для тега body */
body {
    font-family: "Roboto", sans-serif; /* Задаємо шрифт Roboto */
    color: #434455;                    /* Визначаємо колір тексту */
    background-color: #FFFFFF;          /* Встановлюємо білий фон */
  }
  

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
  }